variables:
  MATLAB_RELEASE: "R2025b"
  TOOLBOX_NAME: "nowcasting"
  TOOLBOX_FILE: "Nowcasting.mltbx"
  TOOLBOX_DISPLAY_NAME: "Nowcasting Toolbox"

.publish-toolbox:
  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d.*/ # Only run on tags
  tags:
    - EduLaptopDocker
  image:
    name: gitlab/glab
    pull_policy: if-not-present
    entrypoint: [""]
  script:
    # Install curl
    - apk update
    - apk add --no-cache curl
    # Prepare variables
    - VERSION="${CI_COMMIT_TAG//v}"
    - URL="${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/${TOOLBOX_NAME}/${VERSION}/${TOOLBOX_FILE}"
    # Check if package exists
    - HTTP_CODE=$(curl --request GET "${URL}" --header "JOB-TOKEN:${CI_JOB_TOKEN}" --write-out "%{http_code}" -o /dev/null)
    - |
      if [[ "$HTTP_CODE" == "404" ]]; then 
        curl --request PUT "$URL" --header "JOB-TOKEN:${CI_JOB_TOKEN}" --upload-file "${TOOLBOX_FILE}" 
      else 
        echo "This toolbox version already exists"; 
        exit 1; 
      fi
    # Publish release
    - |
      glab auth login --hostname $CI_SERVER_HOST --job-token $CI_JOB_TOKEN
      glab release create ${CI_COMMIT_TAG} \
        --name "${TOOLBOX_DISPLAY_NAME} ${CI_COMMIT_TAG}" \
        --assets-links "[{\"name\":\"${TOOLBOX_FILE}\",\"url\":\"${URL}\",\"link_type\":\"package\"}]"

stages:
  - deploy

package: 
  stage: deploy

  rules:
    - if: $CI_COMMIT_TAG =~ /^v\d.*/
      when: on_success
    - when: never

  image:
    name: mathworks/matlab-deps:${MATLAB_RELEASE}
    pull_policy: if-not-present

  tags:
   - EduLaptopDocker

  script:
    - wget -q https://www.mathworks.com/mpm/glnxa64/mpm && chmod +x mpm 
    - ./mpm install --products MATLAB --release ${MATLAB_RELEASE} --destination /opt/matlab/${MATLAB_RELEASE} --no-gpu --no-jre
    - wget -q https://ssd.mathworks.com/supportfiles/ci/matlab-batch/v1/glnxa64/matlab-batch
    - chmod +x matlab-batch
    - ln -s /opt/matlab/${MATLAB_RELEASE}/bin/matlab /usr/local/bin/matlab
    - ./matlab-batch "buildtool"
    
  artifacts:
    when: always
    paths:
      - releases/${TOOLBOX_FILE}

push-to-package-registry:
  extends: .publish-toolbox
  stage: deploy
  needs: 
    - package